AZURE_MYSQL_HOST=resobil-server.mysql.database.azure.com
AZURE_MYSQL_PORT=3306
AZURE_MYSQL_USER=
AZURE_MYSQL_PASSWORD=
AZURE_MYSQL_DATABASE=resobil_db
GOOGLE_APPLICATION_CREDENTIALS=./bigquery-key.json
BIGQUERY_PROJECT_ID=
BIGQUERY_DATASET=resobil_dataset
